<div class="container-fluid">
  <h3 class="grid-row">Типы событий</h3>
  <tl-selector
    [placeholder]="'Создайте новый тип событий'"
    [searchService]="searchService"
    (create)="create($event)"
  ></tl-selector>
  <div *ngIf="state.error" class="alert alert-danger">{{ state.error.message }}</div>
  <div *ngIf="state.isLoading" class="alert alert-info">загружаются...</div>
  <div class="grid-row">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let type of state.types">
        <td><a [routerLink]="['/type', type.id]">{{ type.title }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
