<div class="dropdown show">
  <input
    type="text"
    title="{{placeholder}}"
    class="form-control"
    placeholder="{{placeholder}}"
    [formControl]="inputControl"
    (keydown.enter)="onEnterKey()"
    (keydown.arrowdown)="onArrowDownKey()"
    (keydown.arrowup)="onArrowUpKey()"
    (keydown.esc)="onEscKey()"
  >
  <span class="search-in-progress-marker" [hidden]="!isSearching">поиск...</span>
  <button
    #btnCreate
    type="button"
    class="btn btn-link create-button"
    (click)="emitCreateEvent()"
    [hidden]="isSearching">Создать</button>
  <div class="dropdown-menu" [hidden]="searchResults.length === 0">
    <div
      *ngFor="let searchResultItem of searchResults; index as i;"
      class="dropdown-item search-result-item"
      [ngClass]="{'highlighted': i === highlightedIndex}"
      [innerHtml]="searchResultItem.title"
      (click)="onItemSelect(i)"
    ></div>
  </div>
</div>

