<div class="dropdown" [ngClass]="{ show: searchResults.length !== 0 }">

  <tl-search-field
    [placeholder]="placeholder"
    [searchService]="searchService"
    (enterKey)="onEnterKey()"
    (arrowDownKey)="onArrowDownKey()"
    (arrowUpKey)="onArrowUpKey()"
    (escKey)="onEscKey()"
    (createClick)="onItemCreate($event)"
  ></tl-search-field>

  <div class="dropdown-menu">
    <div
      *ngFor="let searchResultItem of searchResults; index as i;"
      class="dropdown-item search-result-item"
      [ngClass]="{'highlighted': i === highlightedIndex}"
      [innerHtml]="searchResultItem.title"
      (click)="onItemSelect(i)"
    ></div>
  </div>

</div>

