<div *ngIf="isLoading" class="alert alert-info">Загружается...</div>
<div *ngIf="error" class="alert alert-danger">{{ error.message }}</div>
<div *ngIf="timeline" class="container-fluid">
  <tl-chart></tl-chart>
  <form [formGroup]="form">
    <div class="row">
      <input class="form-control title" id="input-title" type="text" title="Название" formControlName="title">
    </div>
  </form>
  <tl-selector [placeholder]="'Добавьте событие'" (create)="createAndOpenTimelineEvent($event)"></tl-selector>
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let event of timeline.events">
      <td><button type="button" class="btn btn-link" (click)="openTimelineEvent(event.id)">{{ event.title }}</button></td>
    </tr>
    </tbody>
  </table>
</div>
