<div *ngIf="isLoading" class="alert alert-info">Загружается...</div>
<div *ngIf="error" class="alert alert-danger">{{ error.message }}</div>
<div *ngIf="timeline" class="container-fluid">
  <form [formGroup]="form">
    <div class="row">
      <input class="form-control title" id="input-title" type="text" title="Название" formControlName="title">
    </div>
  </form>
  <tl-chart [data]="timeline.groups" (onSelect)="onBarSelect($event)"></tl-chart>
  <tl-events-table
    [groupIndex]="0"
    (create)="createAndOpenTimelineEvent($event)"
    (open)="openTimelineEvent($event)"
    (attach)="dispatchAttachToTimelineAction($event)"
    (detach)="detachEvent($event)">
  </tl-events-table>
</div>
