<div *ngIf="isLoading" class="alert alert-info">Загружается...</div>
<div *ngIf="error" class="alert alert-danger">{{ error.message }}</div>
<div *ngIf="timeline" class="container-fluid">
  <form [formGroup]="form">
    <div class="row">
      <input class="form-control title" id="input-title" type="text" title="Название" formControlName="title">
    </div>
  </form>
  <tl-chart [data]="timeline.events" (onSelect)="onBarSelect($event)"></tl-chart>
  <tl-selector
    [placeholder]="'Добавьте событие'"
    [searchService]="eventsSearchService"
    (create)="createAndOpenTimelineEvent($event)"
    (choose)="dispatchAttachToTimelineAction($event.id)"
  ></tl-selector>
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let event of timeline.events">
      <td>
        <button type="button" class="btn btn-link" (click)="openTimelineEvent(event.id)">{{ event.title }}</button>
      </td>
      <td class="text-sm-right">
        <button type="button" class="btn btn-link btn-sm" (click)="detachEvent(event)">открепить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
