<div class="background">
  <div class="container form-login">
    <h2>Регистрация</h2>
    <form [formGroup]="form" class="form-group">
      <input type="email" class="form-control" formControlName="email" placeholder="Введите email">
      <input type="password" class="form-control" formControlName="password" placeholder="Введите пароль">
      <input type="password" class="form-control" formControlName="passwordAgain" placeholder="Введите пароль ещё раз">
      <button 
        id="submit-button" 
        type="submit" (click)="submit()" 
        class="btn btn-primary btn-block submit-button"
        [disabled]="form.invalid">{{submitButtonTitle}}</button>
    </form>
  </div>
</div>