<div class="search-field-container">
  <input
    type="text"
    title="{{placeholder}}"
    class="form-control"
    placeholder="{{placeholder}}"
    [formControl]="inputControl"
    (keydown.enter)="onEnterKey($event)"
    (keydown.arrowdown)="onArrowDownKey($event)"
    (keydown.arrowup)="onArrowUpKey($event)"
    (keydown.esc)="onEscKey($event)"
  >
  <span class="search-in-progress-marker" [hidden]="(searchService.isSearching$ | async) === false">поиск...</span>
  <button
    #btnCreate
    type="button"
    class="btn btn-link create-button"
    (click)="emitCreateEvent()"
    [hidden]="searchService.isSearching$ | async">Создать
  </button>
</div>
