<div class="search-field-container">
  <input
    #searchInput
    title="{{placeholder}}"
    class="form-control"
    placeholder="{{placeholder}}"
    [value]="searchQuery$ | async"
    (blur)="onBlur()"
    (keydown.enter)="onEnterKey()"
    (keydown.arrowdown)="onArrowDownKey()"
    (keydown.arrowup)="onArrowUpKey()"
    (keydown.esc)="onEscKey()"
  >
  <span class="search-in-progress-marker" [hidden]="(isSearching$ | async) === false">поиск...</span>
  <button
    #btnCreate
    type="button"
    class="btn btn-link create-button"
    (click)="onCreateButtonClick()"
    [hidden]="isCreateButtonHidden$ | async">Создать
  </button>
</div>
