<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
  <h4 class="modal-title">Тип событий</h4>
</div>
<div class="modal-body">
  <div *ngIf="!form">Загружается...</div>
  <div *ngIf="state.error">{{ state.error.message }}</div>
  <form *ngIf="form" [formGroup]="form">
    <div class="form-group">
      <input class="form-control" type="text" title="Название" formControlName="title">
    </div>
    <div class="pl-1">
      <div *ngFor="let kind of kinds" class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" formControlName="kind" [value]="kind"> {{ kindsTitles[kind] }}
        </label>
      </div>
    </div>
  </form>
</div>
<div class="tl-type-modal-footer d-flex justify-content-end">
  <button type="button" class="mr-auto btn btn-danger"
          [title]="generateDeleteButtonTitle()"
          [disabled]="state.type?.eventsCount !== 0"
          (click)="onDeleteButtonClick()">Удалить</button>
  <button type="button" class="btn btn-primary mr-1" (click)="save()">Сохранить</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Отмена</button>
</div>
