<div class="dropdown" [ngClass]="{ show: searchResults.length !== 0 }">

  <tl-search-field
    [placeholder]="placeholder"
    [searchService]="searchService"
    (enterKey)="onEnterKey()"
    (arrowDownKey)="onArrowDownKey()"
    (arrowUpKey)="onArrowUpKey()"
    (escKey)="onEscKey()"
    (createClick)="onItemCreate($event)"
  ></tl-search-field>

  <div class="dropdown-menu">
    <tl-selector-list
      #list
      [data]="searchResults"
      (select)="onItemSelect($event)"
    ></tl-selector-list>
  </div>

</div>

