<tl-selector-input
  [placeholder]="'Добавьте событие'"
  [name]="eventSelectorName"
  [stateSelector]="eventSelectorStateMap"
></tl-selector-input>
<table class="table table-hover">
  <tbody>
  <tr *ngFor="let event of event$ | async; trackBy: trackByEventRow">
    <td>
      <button type="button" class="btn btn-link" (click)="onEventLinkClick(event.id)">{{ event.title }}</button>
    </td>
    <td class="text-sm-right">
      <button type="button" class="btn btn-link btn-sm" (click)="detach.emit(event.id)">открепить</button>
    </td>
  </tr>
  </tbody>
</table>
