<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
  <h5 class="modal-title">Группа событий</h5>
</div>
<div class="modal-body container-fluid">
  <form class="form-inline" *ngIf="form" [formGroup]="form">
    <tl-color-picker class="mr-1 align-middle" formControlName="color" [colors]="availableColors"></tl-color-picker>
    <input class="form-control" type="text" title="Название" formControlName="title">
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Отмена</button>
</div>
