.selector-select-main-button {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0.25rem;
  background-color: white;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  padding: 0.5rem 0.75rem;
}
