<div class="dropdown" [ngClass]="{ show: isDropdownVisible }">

  <button class="selector-select-main-button" (click)="onMainButtonClick()">{{(selectedItem$ | async).title}}</button>

  <div class="dropdown-menu">

    <tl-search-field #searchField
        [name]="name"
        [placeholder]="'Поиск'"
        [isSearching$]="isSearching$"
        [searchQuery$]="searchQuery$"
    ></tl-search-field>

    <tl-selector-list
        [name]="name"
        [results$]="results$"
        [highlightedIndex$]="highlightedIndex$"
    ></tl-selector-list>

  </div>
</div>
