<div class="dropdown" [ngClass]="{ show: (isDropdownVisible$ | async) }">

  <button
      type="button"
      class="selector-select-main-button"
      [class.has-danger]="hasDanger"
      (click)="onMainButtonClick()"
  >
    {{(selectedItem$ | async).title}}
  </button>

  <div class="dropdown-menu">

    <tl-search-field
        [name]="name"
        [placeholder]="'Поиск'"
        [isSearching$]="isSearching$"
        [searchQuery$]="searchQuery$"
        [focusOnShown]="true"
        [createByEnterKey$]="createByEnterKey$"
    ></tl-search-field>

    <tl-selector-list
        [name]="name"
        [results$]="results$"
        [highlightedIndex$]="highlightedIndex$"
    ></tl-selector-list>

  </div>
</div>
