<div class="container-fluid">
  <h3 class="grid-row">События</h3>
  <tl-search-field
    [placeholder]="'Создайте новое событие'"
    [name]="searchFieldName"
    [isSearching$]="isSearching$"
    [searchQuery$]="searchQuery$"
    [focusOnShown]="true"
  ></tl-search-field>
  <div *ngIf="hasError$ | async" class="alert alert-danger">{{ errorMessage$ | async }}</div>
  <div *ngIf="isLoading$ | async" class="alert alert-info">Загружаются...</div>
  <div class="grid-row">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let event of (list$ | async)">
        <td><a [routerLink]="'/events/' + event.id" class="event-title" [innerHtml]="event.title"></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
