<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span>&times;</span>
  </button>
  <h4 class="modal-title">Событие</h4>
</div>
<div class="modal-body container-fluid">
  <div *ngIf="(status$ | async) === 'LOADING'">Загружается...</div>
  <div *ngIf="(status$ | async) !== 'LOADING'">

    <div class="row">
      <div class="col-md-3">
        <tl-selector-select
            [name]="typeSelectorName"
            [stateSelector]="selectTypeSelectorState"
            [placeholder]="'Выберите тип'"
            [hasDanger]="isTypeEmpty$ | async"
        ></tl-selector-select>
      </div>
      <div class="col-md-9 form-group">
        <input [tlInput]="titleInputName" [stateSelector]="selectTitle" class="form-control" title="Имя события"
               placeholder="Имя события" [class.is-invalid]="isTitleEmpty$ | async">
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 form-group">
        <input
            class="form-control"
            [class.is-invalid]="isDateBeginNotValid$ | async"
            title="Начало периода"
            placeholder="Начало периода"
            [tlDate]="dateBeginInputName"
            [stateSelector]="selectDateBegin"
            [context]="'beginning'"
        >
        <small *ngIf="isDateBeginEmpty$ | async" class="form-control-feedback">Неверный формат даты</small>
      </div>

      <div class="col-md-3 form-group" [hidden]="(kind$ | async) !== 'period'"
      >
        <input
            class="form-control"
            [class.is-invalid]="isDateEndNotValid$ | async"
            title="Конец периода"
            placeholder="Конец периода"
            [tlDate]="dateEndInputName"
            [stateSelector]="selectDateEnd"
            [context]="'ending'"
        >
        <small *ngIf="isDateEndEmpty$ | async" class="form-control-feedback">Неверный формат даты</small>
        <small *ngIf="isDateBeginGreaterEnd$ | async" class="form-control-feedback">
          Период оканчивается раньше своего начала
        </small>
      </div>

    </div>

  </div>
</div>
<div class="tl-event-modal-footer d-flex justify-content-end">
  <button type="button" class="mr-auto btn btn-danger" (click)="onDeleteButtonClick()"
          [hidden]="isDeleteConfirmationVisible || (status$ | async) === 'NEW'">Удалить</button>
  <div class="mr-auto" *ngIf="isDeleteConfirmationVisible">
    <span class="text-warning small" *ngIf="(attachedToTimelinesCount$ | async) !== 0">
      Событие используется в {{(attachedToTimelinesCount$ | async)}} лентах!
    </span>
    <span class="text-warning small">Действительно удалить?</span>
    <button type="button" class="btn btn-secondary" (click)="onDeleteConfirmNoClick()">Нет</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteConfirmYesClick()">Да</button>
  </div>
  <button type="button" class="btn btn-primary mr-1" (click)="onSaveButtonClick()">Сохранить</button>
  <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Отмена</button>
</div>
