<!--suppress QuirksModeInspectionTool -->
<div class="container-fluid">
  <div *ngIf="error" class="alert alert-danger">{{ error.message }}</div>
  <h3 class="grid-row">Мои ленты времени</h3>
  <div *ngIf="isLoading" class="alert alert-info">загружаются...</div>
  <div class="grid-row">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let timeline of timelines">
        <td><a [routerLink]="['/timeline', timeline.id]">{{ timeline.title }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-row">
    <button class="btn btn-primary" (click)="create()">Создать</button>
  </div>
</div>