<!--suppress QuirksModeInspectionTool, VoidExpressionJS -->
<div class="container-fluid">
  <div *ngIf="error" class="alert alert-danger">{{ error.message }}</div>
  <h3 class="grid-row">Мои ленты времени</h3>
  <div *ngIf="isLoading" class="alert alert-info">загружаются...</div>
  <div class="grid-row">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let timeline of timelines">
        <td><a [routerLink]="['/timeline', timeline.id]">{{ timeline.title }}</a></td>
        <td class="text-sm-right">
          <a class="delete-link" href="javascript:void(0)" (click)="confirmDeletion(timeline)">удалить</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-row">
    <button class="btn btn-primary" (click)="create()">Создать</button>
  </div>
</div>

<template #deleteDialogTemplate let-close="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="close(false)">
      <span>&times;</span>
    </button>
    <h5 class="modal-title">Подтвердите удаление</h5>
  </div>
  <div class="modal-body">
    Вы уверены, что хотите удалить ленту "{{timelineToDelete.title}}"?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close(true)">Да</button>
    <button type="button" class="btn btn-secondary" (click)="close(false)">Нет</button>
  </div>
</template>
